# LaTeX intermediate and output files
build/
out/
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.idx
*.ilg

# Generated bibliography or temporary files
*.bcf
*.pdf
*.dvi
*.ps